body{
    padding-top: 10%;
    padding-bottom: 5%;
    background: url('../images/Bread1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans Condensed', sans-serif;
}
.form{
    padding-left: 30px;
    background-size: cover;
    background-position: 1px;
    font-size: 16px;
}
.form ::placeholder{
    color: black;
}
.form-group{
padding-bottom: 5px;
}
#additional{
    padding-right: 80px;
    padding-bottom: 50px;
    background: transparent;
}
#phone{
    display: block;
    margin-left: 64px;
    margin-top: 5px;
    background: transparent;
}
#fname{
    background: transparent;
}
#street{
    background: transparent;
}
#area{
    background: transparent;
}
#header{
    background-color: #2c2a2a;
    color: #ffffff;
    padding-top: 15px;
    height: 15%;
  }
  #header a:hover{
    color: #ffffff;
    font-weight: bold;
}
.highlight{
    color: #df6c0e;
   }
