body{
    background-color: bisque;
}
.form{
    padding-left: 30px;
    background-image: url('/images/background.jpg');
    background-size: cover;
}
.form-group{
padding-top: 3px;
padding-bottom: 5px;
}
#fname{
    /* padding-bottom: 100px;
    padding-right: 100px; */
}


