body{
    background-color: bisque;
    font-family: 'Open Sans Condensed', sans-serif;
}
.form{
    padding-left: 30px;
    background-image: url('/images/Opera\ Cake.jpg');
    background-size: cover;
    background-position: 1px;
}
.form ::placeholder{
    color: black;
}
.form-group{
padding-bottom: 5px;
}
#additional{
    padding-right: 80px;
    padding-bottom: 50px;
    background: transparent;
}
#phone{
    display: block;
    margin-left: 64px;
    margin-top: 5px;
    background: transparent;
}
#fname{
    background: transparent;
}
#street{
    background: transparent;
}
#area{
    background: transparent;
}

