body{
  background-color: #7e4d4d;
  color: #ffffff;
}
.header{
  position: fixed;
  background-color: #2c2a2a;
  color: #ffffff;
  padding-top: 15px;
  height: 15%;
  
}
.header > h1 {
  padding: 0;
  margin: 0;
}

.header > nav > ul > li >a{
 color: #ffffff;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 16px;
}

.header a:hover{
 color: #ffffff;
 font-weight: bold;
}

.header > nav > ul{
 padding:0;
 margin:0;
}

.header > nav >ul > li{
 float: left;
 display: inline;
 padding: 0 20px 0 20px;
}

.header > div {
 float:left;
}

.header > nav {
 float: right;
 margin-top: 20px;
}

.highlight{
 color: #df6c0e;
}
.menu-nav{
  position: fixed;
  height: 100%;
  max-width: 25%;
  min-width: 25%;
}
.menu-tab{
  font-size: 25px;
  max-width: 25%;
  color: #ffffff;
}
.item-title{
  margin-bottom: 0.75rem;
}
.item-img{
  height: 100%;
  max-height: 250px;
  width: auto;
}
.section-menu>hr{
  background: darkred;
  height: 3px;
}
.menu-nav{
  top: 15%;
}
.menu{
  position: absolute;
  top: 15%;
  margin-left: 25%;
  width: auto;
}
.hide{
  display: none;
}
