body{
  background-color: #2d2652;
  color: #ffffff;
}
.header{
  position: fixed;
  background-color: #2c2a2a;
  color: #ffffff;
  padding-top: 15px;
  height: 15%;
  
}
.highlight{
 color: #df6c0e;
}
.menu-nav{
  position: fixed;
  height: 100%;
  max-width: 25%;
  min-width: 25%;
}
.menu-tab{
  font-size: 25px;
  max-width: 25%;
  color: #ffffff;
}
.item-title{
  margin-bottom: 0.75rem;
}
.item-img{
  height: 100%;
  max-height: 250px;
  width: auto;
}
.section-menu>hr{
  background: white;
  height: 3px;
}
.menu-nav{
  top: 15%;
}

.hide{
  display: none;
}
.order-box{
  top: 10%;
  left: 15%;
  height: 80%;
  width: 70%;
  padding: 50px;
}
.menu{
  position: absolute;
  top: 15%;
  margin-left: 25%;
  width: auto;
}
