body{
  background-color: #ffffff;;
  color: #000000;

}

.header{
  position: fixed;
  background-color: #2c2a2a;
  color: #ffffff;
  padding-top: 15px;
  height: 15%;
  
}
.highlight{
 color: #df6c0e;
}

.navbar-brand{
  font-weight: bold;
  color: #ffffff;
}

.menu-nav{
  position: fixed;
  height: 100%;
  max-width: 25%;
  min-width: 25%;
}
.menu-tab{
  font-size: 25px;
  max-width: 25%;
  color: #ffffff;
}

.highlight{
 color: #df6c0e;
}

.item-title{
  margin-bottom: 0.75rem;
}
.item-img{
  height: 100%;
  max-height: 250px;
  width: auto;
  max-width: 300px;

}
.section-menu>hr{
  background: #df6c0e;
  height: 3px;
}

.menu-nav{
  top: 15%;
}

.hide{
  display: none;
}
.order-box{
  top: 10%;
  left: 15%;
  height: 80%;
  width: 70%;
  padding: 50px;
}

.menu{
  position: absolute;
  top: 15%;
  margin-left: 25%;
  width: auto;
}

#menu-nav{
  position: fixed;
  height: 100%;
  max-width: 15%;
  min-width: 15%;
  top: 15%;
  left: 0;
}
#header{
  background-color: #2c2a2a;
  color: #ffffff;
  padding-top: 15px;
  height: 15%;
}
#header a:hover{
  color: #ffffff;
  font-weight: bold;
 }

#header > div {
  float:left;
}
body {
  padding-top: 15%;
  padding-left: 15%;
}
.footer{
  background-color: #2d2652;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}
.link-items{
  float: right;
}

