.highlight{
    color: #df6c0e;
}

.navbar-brand{
    font-weight: bold;
}

.welcome{
    background-image: url("../images/welcome.jpg");
    height: 437px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }

.welcome > img{
    width: 100%;
    height: 700px;
}

.About-us{
    font-Size: 20px;
}

.box{
   padding: 25px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 0.5;
    display: none;
    padding-top: 20%;
    font-size: 50px;
}

.footer{
    background-color: #2d2652;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.footer > p{
    padding-top: 10px;
}

.contact-us{
   background-image: url("../images/breads.jpg");
   height: 350px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative; 
}

.Contact-us > h1{
    margin-top: 15px;
}

.Cform > input {
    background-color: transparent;
    color: #fff;
    border: 1px #fff solid;
    margin: 10px;
}

.Cform > textarea {
    background-color: transparent;
    color: #fff;
    border: 1px #fff solid;
    margin: 10px;
}

#t-area{
    width: 625px;
    height: 200px;
}

.t-input{
    width: 300px;
}

.t-input::placeholder{
    color:white;
}