
.col{
    display: flex;
    top: 6px;  
}

.column{
    position: absolute;
    padding-left: 250px;
    top: 1230px;
}
h2{
    padding-left: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu-nav{
  position: fixed;
  height: 100%;
  max-width: 25%;
  min-width: 25%;
}
.menu-tab{
  font-size: 25px;
}
.item-title{
  margin-bottom: 0.75rem;
}
.item-img{
  height: 100%;
  max-height: 250px;
  width: auto;
}
.section-menu>hr{
  background: darkred;
  height: 3px;
}
.menu{
  position: absolute;
  left: 25%;
  width: auto;
}
.hide{
  display: none;
}
